<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/film.ico" rel="icon">

  <title>R3 CHOICE</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">HOME</a></li>
          <li><a href="./movies.html" title="">MOVIES</a></li>
          <li><a href="./webseries.html" title="">WEB SERIES</a></li>
          <li><a href="./suggestions.html" title="">SUGGEST US</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./interstellar.html" title="" >001</a></li>
            <li><a href="./maze.html" title="" >002</a></li>
            <li><a href="./apes.html" title=""class="active">003</a></li>
            <li><a href="./zodiac.html" title="">004</a></li>
            <li><a href="./oneday.html" title="">005</a></li>
            <li><a href="./rememberme.html" title="">006</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/13.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">003 : Apes Trilogy</h1>
          </div>
          <p><b>After the apes suffer unimaginable losses, Caesar wrestles with his darker instincts and begins his own mythic quest to avenge his kind.</b></p>
          <blockquote>
            <p>"Ignore the ignorant!!!"</p>
          </blockquote>
        </div>
      </div>

      <iframe width="1150" height="800" src="https://www.youtube.com/embed/qxjPjPzQ1iU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p><h2>Review:</h2>
      <h3>The APES need to find a new home,a scouting party returns with news but the APES are suddenly attacked by a crack commando unit.dire circumstances mean an immediate EXODUS for the APES and CAESAR must leave them behind and take on a mission,accompanied by his faithful they start out to find the human soldiers.picking up a couple of unlikely friends on the way the APES soon find that the humans have captured the EXODUS and enslaved them their ruthless commander shows no mercy and puts them to work,CAESAR meets his new adversary face to face and the man expresses admiration for CAESAR in an inferior way and demands CAESAR control the APES...a new plan must be devised and the APES must escape in what will be an explosive end to this excellent reboot trilogy...brilliant CGI and stellar cast with the ultimate ending.</h3></p>    
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
          <a href="https://www.amazon.com/War-Planet-Apes-Matt-Reeves/dp/B073XSXTRC"class="btn btn-default">
            <img src="./static/assets/images/prime.jpg" class="img-responsive" alt="">
            <p><b>Click here to watch the movie</b></p></a> 
          </div>
          <div class="col-xs-12 col-md-6">
          <a href="https://www.netflix.com/ch-en/title/80168235"class="btn btn-default">
            <img src="./static/assets/images/net.jpg" class="img-responsive" alt="">
            <p><b>Click here to watch the movie</b></p></a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>